.none {
  display: none;
}
* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
body {
  background: #F0F2F4;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #101315;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.body__lock {
  height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px 50px;
  background: #36A2F4;
  border-radius: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #F0F2F4;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn:hover {
  background: #4DB0FB;
}
.btn:active {
  background: #238FE1;
}
@media (max-width: 1230px) {
  .btn {
    padding: 15px 30px;
  }
}
@media (max-width: 980px) {
  .btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 840px) {
  .btn {
    margin-bottom: 8px;
    padding: 20px 50px;
  }
}
@media (max-width: 540px) {
  .btn {
    padding: 20px 57px;
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .btn {
    font-size: 18px;
    padding: 20px 33px;
  }
}
.btn__small {
  margin-bottom: 20px;
  padding: 13px 35px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .btn__small {
    padding: 13px 28px;
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .btn__small {
    padding: 13px 47px;
    margin-bottom: 20px;
  }
}
.btn__white {
  margin-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 35px;
  font-size: 16px;
  background-color: transparent;
  color: #101315;
  border: 1px solid #101315;
}
.btn__white:hover {
  background-color: transparent;
  color: #101315;
}
@media (max-width: 768px) {
  .btn__white {
    margin-bottom: 20px;
    padding: 13px 28px;
  }
}
@media (max-width: 500px) {
  .btn__white {
    padding: 13px 47px;
    margin-bottom: 0;
  }
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
}
.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 170%;
}
.header {
  top: 0;
  width: 100%;
  padding: 30px 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo {
  position: relative;
}
.logo::before {
  content: '';
  position: absolute;
  width: 680px;
  height: 259px;
  background: #E3E7EA;
  border-radius: 45px;
  top: -157px;
  left: -524px;
  z-index: -1;
}
@media (max-width: 1230px) {
  .logo::before {
    width: 640px;
  }
}
@media (max-width: 1063px) {
  .header__nav {
    display: none;
  }
}
.nav__list {
  margin: 0;
  margin-top: 17px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}
.list__item {
  margin-right: 30px;
}
.list__item a {
  font-size: 16px;
  line-height: 150%;
  color: #101315;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.list__item a:hover {
  color: #36A2F4;
}
.list__item:last-child {
  margin-right: 0;
}
@media (max-width: 1130px) {
  .list__item {
    margin-right: 15px;
  }
}
.header__tlgrm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__tlgrm img {
  margin-bottom: 6px;
}
.header__tlgrm a {
  font-size: 16px;
  line-height: 150%;
  color: #101315;
  text-decoration: none;
}
@media (max-width: 1063px) {
  .header__tlgrm {
    display: none;
  }
}
.header__tel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}
.header__tel::before {
  content: '';
  position: absolute;
  width: 963px;
  height: 240px;
  background: #F0F2F4;
  border-radius: 45px;
  top: -147px;
  right: -625px;
  z-index: -1;
}
@media (max-width: 1288px) {
  .header__tel::before {
    width: 940px;
  }
}
@media (max-width: 1080px) {
  .header__tel::before {
    right: -640px;
  }
}
@media (max-width: 1063px) {
  .header__tel {
    display: none;
  }
}
.tel__item {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tel__item span {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #101315;
}
.tel__item a {
  font-size: 16px;
  line-height: 150%;
  color: #101315;
  text-decoration: none;
}
.tel__item:last-child {
  margin-right: 0;
}
@media (max-width: 1080px) {
  .tel__item {
    margin-right: 18px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 1063px) {
  .header__burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45px;
    height: 45px;
    z-index: 21;
  }
  .header__burger::before {
    content: '';
    position: absolute;
    width: 715px;
    height: 233px;
    background: #F0F2F4;
    border-radius: 45px;
    top: -147px;
    right: -625px;
    z-index: 0;
  }
}
@media (max-width: 1063px) and (max-width: 450px) {
  .header__burger::before {
    display: none;
  }
}
.burger__icon {
  position: relative;
  width: 45px;
  height: 4px;
  background: #101315;
  border-radius: 5px;
  -webkit-transition: background-color 0.1s ease-in 0.1s;
  transition: background-color 0.1s ease-in 0.1s;
}
.burger__icon:before {
  content: '';
  position: absolute;
  top: -12px;
  width: 45px;
  height: 4px;
  background: #101315;
  border-radius: 5px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.burger__icon::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 45px;
  height: 4px;
  background: #101315;
  border-radius: 5px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.burger__icon.burger__icon--active {
  background-color: transparent;
}
.burger__icon.burger__icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.burger__icon.burger__icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.header__hide-menu--bg {
  display: none;
}
@media (max-width: 1063px) {
  .header__hide-menu--bg {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  }
}
.header__hide-menu--bg--active {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0 0 9999px rgba(54, 162, 244, 0.2);
          box-shadow: 0 0 0 9999px rgba(54, 162, 244, 0.2);
}
.header__hide-menu {
  display: none;
}
@media (max-width: 1063px) {
  .header__hide-menu {
    width: 450px;
    position: fixed;
    padding-top: 130px;
    padding-bottom: 67px;
    padding-right: 18px;
    right: 0;
    top: 0;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #F0F2F4;
    border-radius: 0 0 0 50px;
    z-index: 10;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
}
@media (max-width: 500px) {
  .header__hide-menu {
    width: 250px;
  }
}
.header__hide-menu--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0 0 9999px rgba(54, 162, 244, 0.2);
          box-shadow: 0 0 0 9999px rgba(54, 162, 244, 0.2);
}
.header__nav--mobile {
  padding-bottom: 30px;
  border-bottom: 1px solid #C3CBD2;
}
.header__nav--mobile .nav__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__nav--mobile .nav__list .list__item {
  margin: 0;
  margin-bottom: 16px;
}
.header__nav--mobile .nav__list .list__item a {
  font-size: 24px;
  line-height: 150%;
}
.header__nav--mobile .nav__list .list__item:last-child {
  margin-bottom: 0;
}
.header__tlgrm--mobile {
  display: block;
  padding-top: 30px;
  margin-bottom: 16px;
}
.header__tlgrm--mobile a {
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  color: #101315;
}
.header__tel--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__tel--mobile .tel__item {
  margin: 0;
  margin-bottom: 16px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__tel--mobile .tel__item:last-child {
  margin-bottom: 0;
}
.banner {
  padding-top: 70px;
  padding-bottom: 150px;
}
@media (max-width: 840px) {
  .banner {
    position: relative;
  }
  .banner::before {
    content: '';
    position: absolute;
    border-radius: 0px 0px 0px 165px;
    background: #E3E7EA;
    width: 50%;
    height: 1452px;
    z-index: -1;
    top: -40%;
    right: 0;
  }
}
@media (max-width: 840px) and (max-width: 540px) {
  .banner::before {
    height: 1300px;
  }
}
@media (max-width: 840px) and (max-width: 450px) {
  .banner::before {
    display: none;
  }
}
@media (max-width: 540px) {
  .banner {
    padding-top: 50px;
    padding-bottom: 120px;
  }
}
@media (max-width: 450px) {
  .banner {
    padding-bottom: 80px;
  }
}
.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 840px) {
  .banner__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.banner__left {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1230px) {
  .banner__left {
    width: auto;
  }
}
@media (max-width: 840px) {
  .banner__left {
    margin-bottom: 77px;
  }
}
@media (max-width: 450px) {
  .banner__left {
    margin-bottom: 35px;
  }
}
.banner__title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 72px;
  line-height: 130%;
}
.banner__title span {
  color: #36A2F4;
}
@media (max-width: 980px) {
  .banner__title {
    font-size: 60px;
  }
}
@media (max-width: 840px) {
  .banner__title {
    margin-bottom: 24px;
    font-size: 64px;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .banner__title {
    font-size: 32px;
  }
}
@media (max-width: 450px) {
  .banner__title {
    margin-bottom: 16px;
  }
}
.banner__desc {
  margin: 0;
  margin-bottom: 56px;
  font-size: 24px;
  line-height: 150%;
}
@media (max-width: 980px) {
  .banner__desc {
    font-size: 20px;
  }
}
@media (max-width: 840px) {
  .banner__desc {
    margin-bottom: 32px;
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .banner__desc {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .banner__desc {
    margin-bottom: 16px;
  }
}
.banner__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 980px) {
  .banner__btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.btn__desc {
  margin: 0;
  font-size: 18px;
  line-height: 170%;
}
@media (max-width: 840) {
  .btn__desc {
    font-size: 18px;
  }
}
.banner__right {
  width: 38%;
  position: relative;
}
.banner__right::before {
  content: '';
  position: absolute;
  border-radius: 0px 0px 0px 165px;
  background: #E3E7EA;
  width: 977px;
  height: 1106px;
  z-index: -1;
  top: -65%;
  right: -87%;
}
@media (max-width: 1300px) {
  .banner__right::before {
    width: 943px;
  }
}
@media (max-width: 1250px) {
  .banner__right::before {
    width: 900px;
    height: 1000px;
  }
}
@media (max-width: 1207px) {
  .banner__right::before {
    width: 870px;
  }
}
@media (max-width: 1175px) {
  .banner__right::before {
    width: 845px;
  }
}
@media (max-width: 1150px) {
  .banner__right::before {
    width: 830px;
  }
}
@media (max-width: 1115px) {
  .banner__right::before {
    width: 815px;
  }
}
@media (max-width: 1090px) {
  .banner__right::before {
    width: 805px;
  }
}
@media (max-width: 1080px) {
  .banner__right::before {
    width: 790px;
  }
}
@media (max-width: 1061px) {
  .banner__right::before {
    width: 740px;
  }
}
@media (max-width: 1016px) {
  .banner__right::before {
    width: 705px;
  }
}
@media (max-width: 990px) {
  .banner__right::before {
    width: 685px;
    height: 840px;
  }
}
@media (max-width: 910px) {
  .banner__right::before {
    width: 635px;
  }
}
@media (max-width: 870px) {
  .banner__right::before {
    width: 600px;
  }
}
@media (max-width: 840px) {
  .banner__right::before {
    display: none;
  }
}
@media (max-width: 450px) {
  .banner__right::before {
    display: block;
    height: 300px;
    top: auto;
    bottom: -45px;
    left: 0;
    border-radius: 79px 0 0 79px;
  }
}
@media (max-width: 840px) {
  .banner__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
  }
}
@media (max-width: 450px) {
  .banner__right {
    width: 280px;
    height: 340px;
  }
}
.banner__modal-wrap {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(54, 162, 244, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 30;
}
.banner__modal-wrap--active {
  display: block;
}
.banner__modal {
  padding: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 630px;
  height: 501px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #F0F2F4;
  border-radius: 35px;
}
.banner__modal p {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #8697A4;
}
.banner__modal p a {
  color: #36A2F4;
}
@media (max-width: 500px) {
  .banner__modal p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .banner__modal {
    width: 598px;
    height: 507px;
  }
}
@media (max-width: 625px) {
  .banner__modal {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .banner__modal {
    padding: 40px 20px;
    height: 464px;
  }
}
.banner__modal-btn {
  display: none;
}
@media (max-width: 1024px) {
  .banner__modal-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 18px;
    top: 12px;
  }
}
.modal-btn__icon {
  position: relative;
  width: 25px;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #101315;
  border-radius: 5px;
}
.modal-btn__icon::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: #101315;
  border-radius: 5px;
}
.banner__modal-title {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}
@media (max-width: 500px) {
  .banner__modal-title {
    font-size: 18px;
  }
}
.banner__modal-form {
  width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.banner__modal-form input {
  margin-bottom: 20px;
  padding: 19px 13px 17px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.banner__modal-form button {
  width: 273px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  margin-bottom: 16px;
  background: #36A2F4;
  border-radius: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #F0F2F4;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: none;
  outline: none;
}
.banner__modal-form button:hover {
  background: #4DB0FB;
}
.banner__modal-form button:active {
  background: #238FE1;
}
@media (max-width: 500px) {
  .banner__modal-form button {
    padding: 20px 33px;
    width: 100%;
  }
}
@media (max-width: 625px) {
  .banner__modal-form {
    width: 95%;
  }
}
.about {
  position: relative;
  margin-top: 84px;
  padding-bottom: 150px;
}
@media (max-width: 840px) {
  .about {
    margin-top: 40px;
  }
}
@media (max-width: 540px) {
  .about {
    margin-top: 0;
  }
}
.about__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1240px) {
  .about__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1080px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 840px) {
  .about__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.about__left {
  width: 630px;
}
@media (max-width: 1240px) {
  .about__left {
    width: 490px;
  }
}
@media (max-width: 1080px) {
  .about__left {
    margin-bottom: 40px;
    width: 630px;
  }
}
@media (max-width: 840px) {
  .about__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 650px) {
  .about__left {
    width: auto;
  }
}
.about__title {
  margin-bottom: 70px;
}
@media (max-width: 840px) {
  .about__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 540px) {
  .about__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.about__desc {
  margin-bottom: 60px;
}
.about__desc:last-child {
  margin-bottom: 0;
}
@media (max-width: 840px) {
  .about__desc {
    margin-bottom: 40px;
  }
}
@media (max-width: 540px) {
  .about__desc {
    margin-bottom: 30px;
  }
}
.about__subtitle {
  margin-bottom: 16px;
}
@media (max-width: 540px) {
  .about__subtitle {
    font-size: 18px;
  }
}
.about__text {
  margin: 0;
  font-size: 18px;
  line-height: 170%;
}
@media (max-width: 540px) {
  .about__text {
    font-size: 14px;
  }
}
.about__right {
  position: absolute;
  width: 48%;
  right: 0;
  top: 15%;
}
@media (max-width: 1240px) {
  .about__right {
    top: auto;
    width: 52%;
  }
}
@media (max-width: 1080px) {
  .about__right {
    display: none;
  }
}
.about__bottom {
  display: none;
}
.about__bottom img {
  border-radius: 65px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .about__bottom img {
    border-radius: 0;
  }
}
@media (max-width: 1080px) {
  .about__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
.manages {
  position: relative;
  margin-bottom: 400px;
}
@media (max-width: 840px) {
  .manages {
    margin-bottom: 200px;
  }
}
@media (max-width: 500px) {
  .manages {
    margin-bottom: 80px;
  }
}
.manages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 840px) {
  .manages__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.manages__title--tablet {
  display: none;
}
.manages__title--tablet br {
  display: none;
}
@media (max-width: 500px) {
  .manages__title--tablet br {
    display: block;
  }
}
@media (max-width: 840px) {
  .manages__title--tablet {
    margin-bottom: 40px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 630px) {
  .manages__title--tablet {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .manages__title--tablet {
    padding-left: 15px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}
@media (max-width: 840px) {
  .manages__left {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .manages__left::before {
    position: absolute;
    content: '';
    background: #E3E7EA;
    height: 1057px;
    border-radius: 110px;
    width: 100%;
    bottom: -100px;
    z-index: -1;
  }
}
@media (max-width: 840px) and (max-width: 500px) {
  .manages__left::before {
    display: none;
  }
}
@media (max-width: 500px) {
  .manages__left {
    padding-left: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.manages__title {
  margin-bottom: 122px;
}
@media (max-width: 840px) {
  .manages__title {
    display: none;
  }
}
.manages__item {
  margin-bottom: 60px;
}
.manages__item:last-child {
  margin-bottom: 0;
}
@media (max-width: 840px) {
  .manages__item {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
}
@media (max-width: 500px) {
  .manages__item {
    margin-bottom: 30px;
    width: 75%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.manages__item-img {
  margin-bottom: 24px;
}
@media (max-width: 840px) {
  .manages__item-img {
    margin-bottom: 19px;
  }
}
@media (max-width: 500px) {
  .manages__item-img {
    margin-bottom: 12px;
    width: 60px;
    height: 60px;
  }
}
.manages__subtitle {
  margin-bottom: 12px;
}
.manages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.manages__list-item {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 150%;
}
.manages__list-item:last-child {
  margin-bottom: 0;
}
.manages__right {
  width: 60%;
  position: absolute;
  right: 0;
  top: 193px;
  height: 100%;
}
.manages__right::before {
  content: '';
  position: absolute;
  width: 1158px;
  height: 1782px;
  background: #E3E7EA;
  border-radius: 165px;
  z-index: -1;
  top: -193px;
  right: -220px;
}
@media (max-width: 1690px) {
  .manages__right::before {
    width: 1000px;
  }
}
@media (max-width: 1430px) {
  .manages__right::before {
    width: 900px;
  }
}
@media (max-width: 1250px) {
  .manages__right::before {
    width: 800px;
  }
}
@media (max-width: 1080px) {
  .manages__right::before {
    width: 680px;
  }
}
@media (max-width: 840px) {
  .manages__right::before {
    display: none;
  }
}
@media (max-width: 840px) {
  .manages__right {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
    position: static;
    top: auto;
    width: 100%;
  }
}
@media (max-width: 750px) {
  .manages__right {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 500px) {
  .manages__right {
    margin-bottom: 30px;
  }
}
.manages__img-wrap {
  margin-bottom: 171px;
  position: -webkit- -webkit-sticky;
  position: -webkit- sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  right: 0;
  z-index: 1;
}
@media (max-width: 840px) {
  .manages__img-wrap img {
    border-radius: 0px 30px 30px 0;
  }
}
@media (max-width: 750px) {
  .manages__img-wrap img {
    border-radius: 0;
  }
}
@media (max-width: 750px) {
  .manages__img-wrap img:first-child {
    display: none;
  }
}
.manages__img-wrap img:last-child {
  display: none;
}
@media (max-width: 750px) {
  .manages__img-wrap img:last-child {
    display: block;
  }
}
@media (max-width: 840px) {
  .manages__img-wrap {
    margin-bottom: 0px;
    position: static;
    top: auto;
    right: auto;
  }
}
.how {
  margin-bottom: 100px;
}
.how__title {
  margin-bottom: 80px;
}
@media (max-width: 500px) {
  .how__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.how__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-image: url('../img/how-item-line.svg');
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: auto;
}
@media (max-width: 1580px) {
  .how__item-wrap {
    background-size: 800px;
  }
}
@media (max-width: 1580px) {
  .how__item-wrap {
    background-size: 800px;
  }
}
@media (max-width: 1370px) {
  .how__item-wrap {
    background-size: 736px;
  }
}
@media (max-width: 1150px) {
  .how__item-wrap {
    background-image: none;
  }
}
.how__item1 {
  margin-right: auto;
  margin-bottom: 80px;
  left: -9px;
  width: auto;
  top: 13%;
}
@media (max-width: 1580px) {
  .how__item1 {
    width: 70%;
  }
}
@media (max-width: 1330px) {
  .how__item1 {
    width: 931px;
    height: 341px;
  }
}
@media (max-width: 970px) {
  .how__item1 {
    margin-bottom: 40px;
    width: 100%;
    height: 390px;
    background: #E3E7EA;
  }
}
@media (max-width: 750px) {
  .how__item1 {
    height: 313px;
  }
}
@media (max-width: 660px) {
  .how__item1 {
    height: auto;
  }
}
.how__item2 {
  margin-left: auto;
  right: 0;
  top: 66%;
  width: auto;
}
@media (max-width: 1580px) {
  .how__item2 {
    width: 65%;
  }
}
@media (max-width: 1330px) {
  .how__item2 {
    width: 864px;
    height: 321px;
  }
}
@media (max-width: 970px) {
  .how__item2 {
    margin-bottom: 40px;
    width: 100%;
    height: 390px;
    background: #E3E7EA;
  }
}
@media (max-width: 750px) {
  .how__item2 {
    height: 313px;
  }
}
@media (max-width: 660px) {
  .how__item2 {
    height: auto;
  }
}
.how__item3 {
  margin-right: auto;
  left: -9px;
  width: auto;
  bottom: -50%;
}
@media (max-width: 1580px) {
  .how__item3 {
    width: 70%;
  }
}
@media (max-width: 1330px) {
  .how__item3 {
    width: 931px;
    height: 341px;
  }
}
@media (max-width: 970px) {
  .how__item3 {
    margin-bottom: 40px;
    width: 100%;
    height: 390px;
    background: #E3E7EA;
  }
}
@media (max-width: 750px) {
  .how__item3 {
    height: 313px;
  }
}
@media (max-width: 660px) {
  .how__item3 {
    height: auto;
  }
}
.how__item4 {
  margin-left: auto;
  right: 0;
  top: 66%;
  width: auto;
}
@media (max-width: 1580px) {
  .how__item4 {
    width: 65%;
  }
}
@media (max-width: 1330px) {
  .how__item4 {
    width: 864px;
    height: 321px;
  }
}
@media (max-width: 970px) {
  .how__item4 {
    width: 100%;
    height: 390px;
    background: #E3E7EA;
  }
}
@media (max-width: 750px) {
  .how__item4 {
    height: 313px;
  }
}
@media (max-width: 660px) {
  .how__item4 {
    height: auto;
  }
}
.how__item-content {
  position: relative;
}
@media (max-width: 970px) {
  .how__item-content {
    padding-top: 82px;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 660px) {
  .how__item-content {
    padding-left: 0;
    padding-top: 36px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 500px) {
  .how__item-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.how__item-desc,
.how__item-desc2,
.how__item-desc3,
.how__item-desc4 {
  position: absolute;
  right: 43%;
  top: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.how__item-desc span,
.how__item-desc2 span,
.how__item-desc3 span,
.how__item-desc4 span {
  margin-right: 30px;
  font-weight: 600;
  font-size: 96px;
  line-height: 130%;
  color: #36A2F4;
}
@media (max-width: 500px) {
  .how__item-desc span,
  .how__item-desc2 span,
  .how__item-desc3 span,
  .how__item-desc4 span {
    font-size: 64px;
  }
}
@media (max-width: 970px) {
  .how__item-desc,
  .how__item-desc2,
  .how__item-desc3,
  .how__item-desc4 {
    position: static;
  }
}
@media (max-width: 500px) {
  .how__item-desc,
  .how__item-desc2,
  .how__item-desc3,
  .how__item-desc4 {
    margin-bottom: 30px;
  }
}
.how__item-desc2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  top: 22%;
  right: 57%;
}
.how__item-desc2 span {
  line-height: 100%;
}
@media (max-width: 500px) {
  .how__item-desc2 span {
    font-size: 64px;
  }
}
@media (max-width: 660px) {
  .how__item-desc2 {
    margin-bottom: 30px;
  }
}
.how__item-desc3 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  right: 36%;
}
.how__item-desc3 span {
  line-height: 100%;
}
@media (max-width: 500px) {
  .how__item-desc3 span {
    font-size: 64px;
  }
}
@media (max-width: 660px) {
  .how__item-desc3 {
    margin-bottom: 30px;
  }
}
.how__item-desc4 {
  top: 33%;
  right: 52%;
}
.how__item-desc4 span {
  line-height: 100%;
}
@media (max-width: 500px) {
  .how__item-desc4 span {
    font-size: 64px;
  }
}
@media (max-width: 660px) {
  .how__item-desc4 {
    margin-bottom: 30px;
  }
}
.how__item-text p {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  color: #101315;
}
@media (max-width: 500px) {
  .how__item-text p {
    font-size: 14px;
  }
}
.how__item-subtitle {
  margin-bottom: 12px;
}
@media (max-width: 500px) {
  .how__item-subtitle {
    margin-bottom: 8px;
    font-size: 18px;
  }
}
@media (max-width: 970px) {
  .how__item-bg {
    display: none;
  }
}
.how__item-img--tablet1 {
  display: none;
}
@media (max-width: 970px) {
  .how__item-img--tablet1 {
    display: block;
    position: absolute;
    right: 41px;
    top: 11px;
  }
}
@media (max-width: 750px) {
  .how__item-img--tablet1 {
    width: 220px;
    top: 18px;
  }
}
@media (max-width: 660px) {
  .how__item-img--tablet1 {
    position: static;
    width: 139px;
    height: 187px;
  }
}
.how__item-img--tablet2 {
  display: none;
}
@media (max-width: 970px) {
  .how__item-img--tablet2 {
    display: block;
    position: absolute;
    right: 0;
    top: 72px;
  }
}
@media (max-width: 750px) {
  .how__item-img--tablet2 {
    width: 273px;
  }
}
@media (max-width: 660px) {
  .how__item-img--tablet2 {
    display: none;
  }
}
.how__item-img--tablet3 {
  display: none;
}
@media (max-width: 970px) {
  .how__item-img--tablet3 {
    display: block;
    position: absolute;
    right: 0px;
    top: 21px;
  }
}
@media (max-width: 750px) {
  .how__item-img--tablet3 {
    width: 242px;
  }
}
@media (max-width: 660px) {
  .how__item-img--tablet3 {
    display: none;
  }
}
.how__item-img--tablet4 {
  display: none;
}
@media (max-width: 970px) {
  .how__item-img--tablet4 {
    display: block;
    position: absolute;
    right: 0;
    top: -33px;
  }
}
@media (max-width: 750px) {
  .how__item-img--tablet4 {
    width: 227px;
  }
}
@media (max-width: 660px) {
  .how__item-img--tablet4 {
    position: static;
    width: 164px;
    height: 222px;
  }
}
.how__item-img--mobile2 {
  display: none;
}
@media (max-width: 660px) {
  .how__item-img--mobile2 {
    display: block;
  }
}
.how__item-img--mobile3 {
  display: none;
}
@media (max-width: 660px) {
  .how__item-img--mobile3 {
    display: block;
  }
}
.scenaries {
  margin-bottom: 150px;
}
.scenaries__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 786px) {
  .scenaries__content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.scenaries__title {
  margin-bottom: 80px;
}
@media (max-width: 500px) {
  .scenaries__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.scenaries__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 640px) {
  .scenaries__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 875px) {
  .scenaries__item-img {
    margin-bottom: 16px;
  }
}
.scenaries__desc {
  position: absolute;
  left: 10%;
  bottom: 11%;
}
@media (max-width: 1400px) {
  .scenaries__desc {
    left: 2%;
  }
}
@media (max-width: 1219px) {
  .scenaries__desc {
    left: 20%;
  }
}
@media (max-width: 875px) {
  .scenaries__desc {
    left: 10%;
  }
}
@media (max-width: 705px) {
  .scenaries__desc {
    left: 3%;
  }
}
@media (max-width: 640px) {
  .scenaries__desc {
    position: static;
  }
}
.scenaries__subtitle {
  margin-bottom: 8px;
  color: #F0F2F4;
}
@media (max-width: 640px) {
  .scenaries__subtitle {
    color: #101315;
  }
}
@media (max-width: 500px) {
  .scenaries__subtitle {
    font-size: 18px;
  }
}
.scenaries__text {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  color: #F0F2F4;
}
@media (max-width: 640px) {
  .scenaries__text {
    color: #101315;
  }
}
@media (max-width: 500px) {
  .scenaries__text {
    font-size: 14px;
  }
}
.scenaries .owl-theme .owl-nav {
  display: none;
}
.scenaries .owl-theme .owl-dots {
  margin-top: 40px;
}
@media (max-width: 640px) {
  .scenaries .owl-theme .owl-dots {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .scenaries .owl-theme .owl-dots {
    margin-top: 10px;
  }
}
.scenaries .owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  border: 1px solid #101315;
  background-color: transparent;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #36A2F4;
  border: none;
}
.technology {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}
.technology::before {
  content: '';
  position: absolute;
  background-color: #E5E5E5;
  height: 100%;
  width: 87%;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 0 150px 0 0;
}
@media (max-width: 1760px) {
  .technology::before {
    width: 91%;
  }
}
@media (max-width: 1575px) {
  .technology::before {
    width: 95%;
  }
}
@media (max-width: 1410px) {
  .technology::before {
    width: 98%;
  }
}
@media (max-width: 1110px) {
  .technology::before {
    width: 100%;
  }
}
@media (max-width: 1250px) {
  .technology {
    padding-bottom: 70px;
  }
}
@media (max-width: 800px) {
  .technology {
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .technology {
    padding-top: 70px;
  }
}
@media (max-width: 500px) {
  .technology {
    padding-top: 80px;
  }
}
.technology__title {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .technology__title {
    font-size: 42px;
    margin-bottom: 58px;
  }
}
@media (max-width: 500px) {
  .technology__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.technology__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.technology__item {
  margin-bottom: 60px;
  width: 540px;
}
@media (max-width: 768px) {
  .technology__item {
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .technology__item {
    margin-bottom: 30px;
  }
}
.technology__img {
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  .technology__img {
    margin-bottom: 12px;
  }
}
.technology__subtitle {
  margin-bottom: 12px;
}
@media (max-width: 500px) {
  .technology__subtitle br {
    display: none;
  }
}
@media (max-width: 500px) {
  .technology__subtitle {
    font-size: 18px;
    margin-bottom: 8px;
  }
}
.technology__text {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 500px) {
  .technology__text br {
    display: none;
  }
}
@media (max-width: 500px) {
  .technology__text {
    font-size: 14px;
  }
}
.cost {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}
.cost::before {
  content: '';
  position: absolute;
  background-color: #E5E5E5;
  height: 100%;
  width: 87%;
  left: 0;
  top: 0;
  z-index: -1;
}
@media (max-width: 1760px) {
  .cost::before {
    width: 91%;
  }
}
@media (max-width: 1575px) {
  .cost::before {
    width: 95%;
  }
}
@media (max-width: 1410px) {
  .cost::before {
    width: 98%;
  }
}
@media (max-width: 1110px) {
  .cost::before {
    width: 100%;
  }
}
@media (max-width: 1250px) {
  .cost {
    padding-bottom: 0;
    padding-top: 100px;
  }
}
@media (max-width: 500px) {
  .cost {
    padding-top: 79px;
  }
}
.cost__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1250px) {
  .cost__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1250px) {
  .cost__desc {
    margin-bottom: 50px;
    margin-right: auto;
  }
}
.cost__title {
  margin-bottom: 24px;
}
@media (max-width: 790px) {
  .cost__title {
    margin-bottom: 32px;
    font-size: 42px;
  }
}
@media (max-width: 500px) {
  .cost__title {
    margin-bottom: 16px;
    font-size: 28px;
  }
}
.cost__text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 150%;
}
@media (max-width: 790px) {
  .cost__text {
    font-size: 24px;
    margin-bottom: 36px;
  }
}
@media (max-width: 500px) {
  .cost__text {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
.cost__img {
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 38%;
}
@media (max-width: 1250px) {
  .cost__img {
    position: relative;
    width: 62%;
    right: -16px;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .cost__img {
    display: none;
  }
}
.cost__img--tablet {
  display: none;
}
@media (max-width: 768px) {
  .cost__img--tablet {
    display: block;
    position: relative;
    right: -14px;
  }
}
.footer {
  padding-top: 150px;
  padding-bottom: 55px;
}
@media (max-width: 990px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 0;
  }
}
@media (max-width: 500px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 32px;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer__top {
  margin-bottom: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 990px) {
  .footer__top {
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .footer__top {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 990px) {
  .footer__left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 670px) {
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 500px) {
  .footer__left {
    margin-bottom: 30px;
  }
}
.footer__logo {
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .footer__logo {
    margin-bottom: 12px;
  }
}
.footer .header__tlgrm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .header__tlgrm img {
  margin-right: 8px;
}
.footer .header__tlgrm a {
  font-weight: 600;
}
@media (max-width: 990px) {
  .footer .header__tlgrm {
    margin-left: 15px;
    margin-top: 10px;
  }
}
@media (max-width: 670px) {
  .footer .header__tlgrm {
    margin: 0;
  }
}
.footer__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 990px) {
  .footer__mid {
    display: none;
  }
}
.footer__mid--tablet {
  display: none;
}
@media (max-width: 990px) {
  .footer__mid--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 188px;
    margin-left: auto;
  }
}
@media (max-width: 560px) {
  .footer__mid--tablet {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .footer__mid--tablet {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__col {
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__col p {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 500px) {
  .footer__col p {
    text-align: center;
  }
}
.footer__col span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 12px;
}
.footer__col span img {
  margin-right: 8px;
}
@media (max-width: 500px) {
  .footer__col span img {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-bottom: 8px;
  }
}
.footer__col span p {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
}
@media (max-width: 500px) {
  .footer__col span {
    margin-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.footer__col a {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #101315;
}
@media (max-width: 500px) {
  .footer__col a img {
    margin-bottom: 8px;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 500px) {
  .footer__col a {
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__col:last-child {
  margin-right: 0;
}
@media (max-width: 500px) {
  .footer__col:last-child {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}
@media (max-width: 1080px) {
  .footer__col {
    margin-right: 50px;
  }
}
@media (max-width: 990px) {
  .footer__col {
    margin-right: 99px;
  }
}
@media (max-width: 560px) {
  .footer__col {
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .footer__col {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__bottom p {
  margin: 0;
  margin-right: 45px;
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 500px) {
  .footer__bottom p {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 990px) {
  .footer__bottom {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__policy {
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #36A2F4;
}
@media (max-width: 500px) {
  .footer__policy {
    margin-bottom: 12px;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */