.about {
    position: relative;
    margin-top: 84px;
    padding-bottom: 150px;
    // overflow: hidden;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     background-image: url('../img/about-img.png');
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     top: 0;
    //     right: 0;
    //     width: 1117px;
    //     height: 701px;
    // }
}

.about__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.about__left {
    width: 630px;
}

.about__title {
    margin-bottom: 70px;
}

.about__desc {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }
}

.about__subtitle {
    margin-bottom: 16px;
}

.about__text {
    margin: 0;
    font-size: 18px;
    line-height: 170%;
}

.about__right {
    // position: relative;
    position: absolute;
    width: 1117px;
    height: 701px;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     right: -8%;
    //     top: 13%;
    //     width: 1117px;
    //     height: 701px;
    //     background-image: url('../img/about-img.png');
    //     background-size: contain;
    //     background-repeat: no-repeat;
    // }

    right: -172px;
    top: 13%;
    // background-image: url('../img/about-img.png');
    // background-size: contain;
    // background-repeat: no-repeat;
}