.how {
    margin-bottom: 100px;
}

.how__content {

}


.how__title {
    margin-bottom: 80px;
}

.how__item-wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-image: url('../img/how-item-line.svg');
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: auto; 
}

.how__item1 {
    margin-right: auto;
    margin-bottom: 80px;
    left: -9px;
    width: auto;
    top: 13%;
}

.how__item2 {
    margin-left: auto;
    right: 0;
    top: 66%;
    width: auto;
}

.how__item3 {
    margin-right: auto;
    left: -9px;
    width: auto;
    bottom: -50%;
}

.how__item4 {
    margin-left: auto;
    right: 0;
    top: 66%;
    width: auto;
}

.how__item-content {
    position: relative;
}

.how__item-desc,
.how__item-desc2,
.how__item-desc3,
.how__item-desc4 {
    position: absolute;
    right: 43%;
    top: 33%;
    display: flex;

    span {
        margin-right: 30px;
        font-weight: 600;
        font-size: 96px;
        line-height: 130%;
        color: #36A2F4;
    }

}

.how__item-desc2 {
    align-items: start;
    top: 22%;
    right: 57%;

    span {
        line-height: 100%;
    }
}

.how__item-desc3 {
    align-items: start;
    right: 36%;

    span {
        line-height: 100%;
    }
}

.how__item-desc4 {
    top: 33%;
    right: 52%;

    span {
        line-height: 100%;
    }
}

.how__item-text {


    p {
        margin: 0;
        font-size: 18px;
        line-height: 150%;
        color: #101315;
    }
}

.how__item-subtitle {
    margin-bottom: 12px;
}