.manages {
    position: relative;
    margin-bottom: 400px;

    // .container {
    //     min-width: auto;
    //     margin-left: 0;
    //     margin-right: 0;
    //     padding-left: 0;
    //     padding-right: 0;
    // }

    @media (max-width: 840px) {
        margin-bottom: 200px;
    }

    @media (max-width: 500px) {
        margin-bottom: 80px;
    }
}

.manages__content {
    display: flex;
    flex-direction: row;
    align-items: end;

    @media (max-width: 840px) {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.manages__title--tablet {
    display: none;

    br {
        display: none;

        @media (max-width: 500px) {
            display: block;
        }
    }

    @media (max-width: 840px) {
        margin-bottom: 40px;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 630px) {
        font-size: 28px;
    }

    @media (max-width: 500px) {
        padding-left: 15px;
        margin-bottom: 30px;
        margin-left: 0;
    }
}

.manages__left {

    @media (max-width: 840px) {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;

        &::before {
            position: absolute;
            content: '';
            background: #E3E7EA;
            height: 1057px;
            border-radius: 110px;
            width: 100%;
            bottom: -100px;
            z-index: -1;

            @media (max-width: 500px) {
                display: none;
            }
        }
    }

    @media (max-width: 500px) {
        padding-left: 15px;
        justify-content: end;
    }
}

.manages__title {
    margin-bottom: 122px;

    @media (max-width: 840px) {
        display: none;
    }
}

.manages__item {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 840px) {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 45%;
    }

    @media (max-width: 500px) {
        margin-bottom: 30px;
        width: 75%;
        align-items: start;
    }
}

.manages__item-img {
    margin-bottom: 24px;

    @media (max-width: 840px) {
        margin-bottom: 19px;
    }

    @media (max-width: 500px) {
        margin-bottom: 12px;
        width: 60px;
        height: 60px;
    }
}

.manages__subtitle {
    margin-bottom: 12px;
}

.manages__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.manages__list-item {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 150%;

    &:last-child {
        margin-bottom: 0;
    }
}

.manages__right {
    width: 60%;
    position: absolute;
    right: 0;
    top: 193px;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        width: 1158px;
        height: 1782px;
        background: #E3E7EA;
        border-radius: 165px;
        z-index: -1;
        top: -193px;
        right: -220px;

        @media (max-width: 1690px) {
            width: 1000px;
        }

        @media (max-width: 1430px) {
            width: 900px;
        }

        @media (max-width: 1250px) {
            width: 800px;
        }

        @media (max-width: 1080px) {
            width: 680px;
        }

        @media (max-width: 840px) {
            display: none;
        }
    }

    @media (max-width: 840px) {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
        position: static;
        top: auto;
        width: 100%;
    }

    @media (max-width: 750px) {
        padding-left: 0;
        padding-right: 0;
    }

    @media (max-width: 500px) {
        margin-bottom: 30px;
    }
}

.manages__img-wrap {
    margin-bottom: 171px;
    position: -webkit- sticky;
    position: sticky;
    top: 200px;
    right: 0;
    z-index: 1;

    img {
        @media (max-width: 840px) {
            border-radius: 0px 30px 30px 0;
        }

        @media (max-width: 750px) {
            border-radius: 0;
        }

        &:first-child {
            @media (max-width: 750px) {
                display: none;
            }
        }

        &:last-child {
            display: none;

            @media (max-width: 750px) {
                display: block;
            }
        }
    }

    @media (max-width: 840px) {
        margin-bottom: 0px;
        position: static;
        top: auto;
        right: auto;
    }
}