.scenaries {
    margin-bottom: 150px;
}

.scenaries__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   

.scenaries__title {
    margin-bottom: 80px;
}

.scenaries__item {
    // width: auto;
    // height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: url('../img/scenaries-item1.png');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;
}

.scenaries__desc {
    position: absolute;
    left: 10%;
    bottom: 11%;
}

.scenaries__subtitle {
    margin-bottom: 8px;
    color: #F0F2F4;
}

.scenaries__text {
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    color: #F0F2F4;
}

.scenaries .owl-theme .owl-nav {
    display: none;
}

.scenaries .owl-theme .owl-dots {
    margin-top: 40px;
}

.scenaries .owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    border: 1px solid #101315;
    background-color: transparent;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #36A2F4;
    border: none;
}